main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro-headline, .intro-details {
    word-break: keep-all;
    margin: 1em;
}

.intro-headline {
    font-size: 3rem;
}

.text-effect {
    text-shadow: 2px 2px 0 var(--color-secondary), 3px 3px 0 var(--color-tertiary),
        9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    font-size: 3.5rem;
    color: var(--color-primary);
    animation: effect 1.2s ease-in infinite, move 1.2s ease-in infinite;
    letter-spacing: 0.2rem;
}

@keyframes effect {
    0% {
        text-shadow: none;
    }

    10% {
        text-shadow: 2px 2px 0 var(--color-secondary);
    }

    20% {
        text-shadow: 2px 2px 0 var(--color-secondary),
            3px 3px 0 var(--color-tertiary);
    }

    30% {
        text-shadow: 2px 2px 0 var(--color-secondary),
            3px 3px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    40% {
        text-shadow: 2px 2px 0 var(--color-secondary),
            3px 3px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    50% {
        text-shadow: 2px 2px 0 var(--color-secondary),
            3px 3px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    60% {
        text-shadow: 2px 2px 0 var(--color-secondary),
            3px 3px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
            12px 12px 0 var(--color-quinary);
    }

    70% {
        text-shadow: 2px 2px 0 var(--color-secondary),
            3px 3px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }

    80% {
        text-shadow: 2px 2px 0 var(--color-secondary),
            3px 3px 0 var(--color-tertiary);
    }

    90% {
        text-shadow: 2px 2px 0 var(--color-secondary);
    }

    100% {
        text-shadow: none;
    }
}

.intro-details {
    font-size: 1.5rem;
}

.first-intro-down-arrow {
    margin: 3em 0;
}

.project-list {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 3em;
}

.project-details {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    list-style: none;
}

.project-links {
    text-decoration: none;
    color: seagreen;
}

.second-intro-down-arrow {
    margin: 3em 0;
}