/* Nav Container */

nav {
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em 2em;
}

/* Logo */

.logo {
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
}

/* Hamburger Menu */

.hamburger-menu-container {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}

.hamburger-menu {
    position: absolute;
    top: 1.3em;
    right: 2.1em;
    width: 30px;
    cursor: pointer;
}

.hamburger-menu-bars {
    height: 3px;
    display: block;
    background-color: black;
    border-radius: 5px;
    transition: 0.25s ease-in-out;
}

.hamburger-menu-bar-one {
    transform: translateY(0);
}

.hamburger-menu-bar-two {
    transform: translateY(4px);
}

.hamburger-menu-bar-three {
    transform: translateY(8px);
}

.active-hamburger-menu .hamburger-menu-bar-one {
    transform: translateY(11px) rotateZ(-45deg);
}

.active-hamburger-menu .hamburger-menu-bar-two {
    opacity: 0;
}

.active-hamburger-menu .hamburger-menu-bar-three {
    transform: translateY(5px) rotateZ(45deg);
}

/* Nav Links */

.nav-list {
    display: none;
}

.active-nav-list {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-list-item {
    list-style: none;
}

/* Hamburger Menu Background */

.nav-menu-background {
    position: absolute;
    top: 25px;
    right: 22.5px;
    height: 0vh;
    width: 0vw;
    transition: 0.1s ease-in-out;
}

.active-nav-menu-background {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    transition: 0.1s ease-in-out;
}